{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Login Page{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Stock Analyst Web Application</h1>

<br>

<body class = "container">

    <h3>About Us</h3>

    <div class = "row">
        <h5>Motivation</h5>
        
        <p>
            With a longstanding focus on financial markets, having tools which can make it easier to collate various technical and fundamental market analysis tools has been sought after. 
            In order to find all relevant information for listed companies and their stock performance, various sites and resources are required.
            Further to this, there is no easy to use system that provides fully customizable technical trading strategy development and testing on past data.
        </p>

        <br>
        <br>

        <h5>Objective</h5>
        <p>
            To develop a hosted financial markets tool which provides the ability to:
            <br>
            - view individual stock information<br>
            - social media activity<br>
            - develop trading strategies<br>
            - back-test them and automate to generate alerts for the user<br>
        </p>
    </div>

</body>
{% endblock %}