{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Login Page{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Stock Analyst Web Application</h1>

<br>

<body class = "container">

    <h3>Admin Page</h3>

    <h5>Select a functionality below</h5>

    <div class = "row">
        <a href = "admindisplayusers_page">
            <button name = "admin_display_users_button" type = "submit">View all Users</button>
        </a>
    </div>

    <br>

    <div class = "row">
        <a href = "{{ url_for('logout') }}">
            <button name = "logout_button" type = "submit">Logout</button>
        </a>
    </div>

</body>
{% endblock %}