{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Login Page{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Stock Strategy Web Application</h1>

<br>

<body class = "container">

    <h3>Login Page</h3>
    
    <div class = "row">
        <div class = "col-sm"></div>

        <form action = "/login" method = "post">
            <div class = "mb-3">
                <label class = "form-label">Username</label>
                <input class = "form-control" type = "text" placeholder = "Enter Username" name = "username" size = "15" required>
            </div>

            <div class = "mb-3">
                <label class = "form-label">Password</label>
                <input class = "form-control" type = "password" placeholder = "Enter Password" name = "password" size = "15" required>
            </div>

            <button name = "login_button" type = "submit">Login</button> {{ loginError }}
        </form>
    </div>

    <br>

    <div class = "row">
        <a href = "{{ url_for('register_page') }}">
            <button name = "register_page_button" type = "submit">New user? Register here!</button>
        </a>
    </div>
</body>
{% endblock %}