{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Registration Page{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Stock Strategy Web Application</h1>

<br>

<body class = "container">

    <h3>Registration Page</h3>

    <div class = "row">
        <div class = "col-sm"></div>

        <form action = "/register" method = "post" enctype = "multipart/form-data">
            <div class = "mb-3">
                <label class = "form-label">Email</label>
                <input class = "form-control" type = "text" placeholder = "Enter email" name = "email" size = "15" required>
            </div>

            <div class = "mb-3">
                <label class = "form-label">Username</label>
                <input class = "form-control" type = "text" placeholder = "Enter Username" name = "username" size = "15" required>
            </div>

            <div class = "mb-3">
                <label class = "form-label">Password</label>
                <input class = "form-control" type = "password" placeholder = "Enter Password" name = "password" size = "15" required>
            </div>

            <div class = "mb-3">
                <label class = "form-label">Retype Password</label>
                <input class = "form-control" type = "password" placeholder = "Enter Password again" name = "retype_password" size = "15" required>
            </div>

            <div class = "mb-3">
                <label class = "form-label">Images</label>
                <input class = "form-control" type = "text" placeholder = "Placeholder - Image to be here instead" size = "15" readonly = "readonly">
            </div>

            <button name = "register_button" type = "submit">Register</button> {{ registerError }}
        </form>

    </div>
</body>
{% endblock %}