{% extends 'index.html' %}

{% block content %}

<br>

<body class = "container">

    <h3>{{stock.name}}</h3>
    <span class="row">
        <h5 class="col-sm">{{stock.symbol}}      ${{stock.prices.price}}</h5>
        <span class="col-sm"></span>
        <button class="col-sm">Add to Favourites</button> 
    </span>
    <div id="chart" class="row" style="height: 500px; min-height: 250px; background: lightgray;"></div>
    <p class=row>
        Open: ${{stock.prices.open}} <br>
        High: ${{stock.prices.high}} <br>
        Low: ${{stock.prices.low}} <br>
        Close: ${{stock.prices.close}} <br>
    </p>

</body>
{% endblock %}