{% extends 'index.html' %}

{% block content %}

<br>

<body class = "container">

    <h3>Stock Name</h3>
    <span class="row">
        <h5 class="col-sm">AAA      $[Latest Price]</h5>
        <span class="col-sm"></span>
        <button class="col-sm">Add to Favourites</button> 
    </span>
    <div id="chart" class="row" style="height: 500px; min-height: 250px; background: lightgray;"></div>
    <p class=row>
        Open: $[Open Price] <br>
        High: $[High Price] <br>
        Low: $[Low Price] <br>
        Close: $[Close Price] <br>
    </p>

</body>
{% endblock %}