{% extends 'index.html' %}

{% block content %}

<h1>Stock Analyst Web Application</h1>

<br>

<body class = "container">

    <h3>Change my details page</h3>

    <form action = "/updatedetails" method = "post" enctype = "multipart/form-data">
        <div class = "mb-3">
            <label class = "form-label">Email</label>
            <input class = "form-control" type = "text" value = "{{ user['email'] }}" name = "email" size = "15" autofocus required>
        </div>

        <div class = "mb-3">
            <label class = "form-label">Profile image</label>
            <input class = "form-control" type = "file" name = "file" accept = "image/*">
        </div>

        <div class = "row">
            Note: Changing profile images will overwrite your current profile image
        </div>

        <br>

        <button name = "update_details_button" type = "submit">Update my Email/Image</button> {{ updateMessage }}
    </form>

    <br>

    <br>

    <div class = "row">
        <a href = "updatepassword_page">
            <button name = "updatepassword_page_button" type = "submit">I want to change my password</button>
        </a>
    </div>

    <br>

</body>
{% endblock %}