{% extends 'index.html' %}

{% block content %}

<h1>Stock Analyst Web Application</h1>

<br>

<body class = "container">

    <h3>Change my details page</h3>

    <form action = "/updatepassword" method = "post">
        <div class = "mb-3">
            <label class = "form-label">Old Password</label>
            <input class = "form-control" type = "password" placeholder = "Enter Old Password" name = "old_password" size = "15" required>
        </div>

        <div class = "mb-3">
            <label class = "form-label">New Password</label>
            <input class = "form-control" type = "password" placeholder = "Enter New Password" name = "new_password" size = "15" required>
        </div>

        <div class = "mb-3">
            <label class = "form-label">Retype New Password</label>
            <input class = "form-control" type = "password" placeholder = "Retype New Password" name = "retype_password" size = "15" required>
        </div>

        <br>

        <button name = "update_password_button" type = "submit">Update my Password</button> {{ updateMessage }}
    </form>

    <br>

    <br>

    <div class = "row">
        <a href = "{{ url_for('updateuserdetail_page') }}">
            <button name = "updateuserdetail_page_button" type = "submit">Return to Change my details page</button>
        </a>
    </div>

    <br>

</body>
{% endblock %}